# AWS region
region = "ap-southeast-1"

# SSH key 
key_name        = "k0s-key"
public_key_path = "../../../key_pair/k0s_key.pub"
ssh_key_path    = "../../../key_pair/k0s_key"

# Networking
vpc_cidr = "10.0.0.0/16"

# =========================
# Compute
# =========================
# AMI is automatically resolved by Terraform using:
# data "aws_ami" "ubuntu_2204"
# - Ubuntu 22.04 LTS (Jammy)
# - Official Canonical AMI
# - Most recent version per region

# Instance Type 
k0s_instance_type           = "t3.small"
observability_instance_type = "t3.small"
openvpn_instance_type       = "t3.micro"

# Ansible
ansible_inventory_dir = "../../../ansible-hub/inventories/staging"
